body{
	background-color: #e2e7ff;
}
.container{
	background-color: #ffffff;
}
#about{
	text-align: ;

}
ul li{
	list-style: none;
	
}
.agileits-address-text li{
    float:left;
    padding-right: 3%

}
.address{
	height: auto;
}
.carousel-item{
	width: %
}
#a-size1{
	padding-right:16%;
	padding-left:16%;

}
.colorgame1{
	height:690px;
	background-color:black;
}
.h2-11{
	font-size:35px;
	color:#808080;
	padding-left: 5%
}
#game-p1{
	color:#808080;
	font-size: 20px;
	text-align: center;
}
.game-p2{
	font-size: 16px;
	color:#808080;
}
.col-md-6{
}
.p-p1{
	text-align: center;
	font-size: 30px;
	color: #d1c5df;
}
.footer{
	text-align: center;
}
.btn-secondary{
	color:#a1f1fe;
}
.col-md-3{
	padding:2px;
}
.bg-111{
	background-color: black;
	color: :black;
}